---
import Maps from '../Svelte/Maps.svelte';
---

<section id="contact" class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container items-center">
      <h2>İLETİŞİM</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="map_container">
          <div class="map">
            <div id="googleMap">
              <Maps client:idle />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
