---
import Img from '../Svelte/Img.svelte';
---

<section id="doctors" class="doctor_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Kadromuz</h2>
      <p class="col-md-10 mx-auto px-0">Her an hizmetinize hazır kadromuz.</p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h5 class="doctor-name">DR. İLKAY TAZE</h5>
          </div>
          <div class="img-box">
            <img loading="lazy" decoding="async" src="images/asm/doctors/ilkay_taze.webp" alt="İlkay Taze Fotoğraf" />
          </div>
          <div class="detail-box">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Birim Kodu</div>
                <div class="col-lg-6 doctor-detail-value">3516035 No'lu Aile Hekimi</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Telefon</div>
                <div class="col-lg-6 doctor-detail-value">+90 (232) 873 40 74</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Aile Sağlığı Elemanı</div>
                <div class="col-lg-6 doctor-detail-value">Fatma Doğru</div>
              </div>
            </div>
          </div>
          <div class="schedule_image">
            <Img client:visible src="images/asm/schedules/ilkay_taze_program.jpg" alt="İlkay Taze Programı" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h5 class="doctor-name">DR. AHMET SERHAN SÜNBÜL</h5>
          </div>
          <div class="img-box">
            <img loading="lazy" decoding="async" src="images/asm/doctors/ahmet_serhan_sunbul.webp" alt="Ahmet Seran Sünbül Fotoğraf" />
          </div>
          <div class="detail-box">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Birim Kodu</div>
                <div class="col-lg-6 doctor-detail-value">3516015 No'lu Aile Hekimi</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Telefon</div>
                <div class="col-lg-6 doctor-detail-value">+90 (232) 873 40 74</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Aile Sağlığı Elemanı</div>
                <div class="col-lg-6 doctor-detail-value">Ebe Şenay Erdoğdu</div>
              </div>
            </div>
          </div>
          <div class="schedule_image">
            <Img client:visible src="images/asm/schedules/ahmet_serhan_schedule.webp" alt="Ahmet Serhan Sünbül Programı" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h5 class="doctor-name">DR. MURAT TANSEL KUTLUK</h5>
          </div>
          <div class="img-box">
            <img loading="lazy" decoding="async" src="images/asm/doctors/murat_tansel_kutluk.webp" alt="Murat Tansel Kutluk Fotoğraf" />
          </div>
          <div class="detail-box">
            <div class="container gap-1 px-10">
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Birim Kodu</div>
                <div class="col-lg-6 doctor-detail-value">3516030 No'lu Aile Hekimi</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Telefon</div>
                <div class="col-lg-6 doctor-detail-value">+90 (232) 873 40 81</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Aile Sağlığı Elemanı</div>
                <div class="col-lg-6 doctor-detail-value">Ebe Hatice Marangoz</div>
              </div>
            </div>
          </div>
          <div class="schedule_image">
            <Img client:visible src="images/asm/schedules/murat_tansel_kutluk_schedule.webp" alt="Murat Tansel Kutluk Programı" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h5 class="doctor-name">UZM. DR. CUMHUR ÇITAK</h5>
          </div>
          <div class="img-box">
            <img loading="lazy" decoding="async" src="images/asm/doctors/cumhur_citak.webp" alt="Cumhur Çıtak Fotoğraf" />
          </div>
          <div class="detail-box">
            <div class="container gap-1 px-10">
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Birim Kodu</div>
                <div class="col-lg-6 doctor-detail-value">3516014 No'lu Aile Hekimi</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Telefon</div>
                <div class="col-lg-6 doctor-detail-value">+90 (232) 873 40 81</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Aile Sağlığı Elemanı</div>
                <div class="col-lg-6 doctor-detail-value">Nesli Çıtak</div>
              </div>
            </div>
          </div>
          <div class="schedule_image">
            <Img client:visible src="images/asm/schedules/cumhur_citak_schedule.webp" alt="Cumhur Çıtak Programı" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h5 class="doctor-name">DR. GÖKHAN MUĞLALI</h5>
          </div>
          <div class="img-box">
            <img loading="lazy" decoding="async" src="images/asm/doctors/gokhan_muglali.webp" alt="Gökhan Muğali Fotoğraf" />
          </div>
          <div class="detail-box">
            <div class="container gap-1 px-10">
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Birim Kodu</div>
                <div class="col-lg-6 doctor-detail-value">3516040 No'lu Aile Hekimi</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Telefon</div>
                <div class="col-lg-6 doctor-detail-value">+90 (232) 873 40 81</div>
              </div>
              <div class="row">
                <div class="col-lg-6 doctor-detail-title">Aile Sağlığı Elemanı</div>
                <div class="col-lg-6 doctor-detail-value"></div>
              </div>
            </div>
          </div>
          <div class="schedule_image">
            <Img client:visible src="images/asm/schedules/gokhan_muglali_schedule.webp" alt="Gökhan Muğali Programı" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h5 class="doctor-name">ACİL HEMŞİRELERİ</h5>
          </div>
          <div class="img-box">
            <img loading="lazy" decoding="async" src="images/asm/doctors/acil_hemsireleri.webp" alt="Acil hemşireleri" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .doctor-detail-title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .doctor-detail-value {
    font-size: 16px;
    font-weight: 500;
  }

  .schedule_image {
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
  }

  @media screen and (max-width: 480px) {
    .schedule_image {
      height: 100% !important;
    }
  }

  @media screen and (min-width: 481px) {
    .schedule_image {
      min-height: 450px;
    }
  }

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
</style>
