---
const currentYear = new Date().getFullYear();
const VERSION = 'v1.4.1';
---

<footer id="footer" style="background-color: #092f25" class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 footer_col">
        <div class="footer_contact">
          <h4>Bize ulaşın</h4>
          <div class="contact_link_box">
            <div>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Mustafa Kemal Atatürk Mah. 9247 Sok No:3 Ulucak - Kemalpaşa / İzmir</span>
            </div>
            <a href="#footer">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> +90 (232) 411 81 11</span>
            </a>
            <a href="#footer">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> +90 (232) 873 40 74</span>
            </a>
            <a href="#footer">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> +90 (232) 873 40 81</span>
            </a>
            <a href="https://www.ism.gov.tr">
              <i class="fa fa-link" aria-hidden="true"></i>
              <span> https://www.ism.gov.tr</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 footer_col">
        <div class="footer_detail">
          <h5>İlçe Sağlık Müdürlüğü</h5>
          <p>Mustafa Kemal Atatürk Mah. 9247 Sok No:3 Ulucak - Kemalpaşa / İzmir</p>
        </div>
        <div class="footer_detail">
          <h5>İl Sağlık Müdürlüğü</h5>
          <p>Sümer Mah. 451 Sok. No:2 Konak / İzmir</p>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        <span id="displayYear">{currentYear}</span> Kemalpaşa İbrahim-Hüsniye Özdürakoğlu Aile Sağlığı Merkezi
      </p>
      <p>{VERSION}</p>
    </div>
  </div>
</footer>
