---
import { TITLE } from '../../lib/const.astro';
---

<main class="hero_area">
  <div class="hero_bg_box">
    <img src="images/hero-bg.png" alt="Doctor Silhouette" />
  </div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container flex justify-center items-center w-full">
        <div class="flex justify-start items-center">
          <a class="h-20 min-w-[80px]" href="https://saglik.gov.tr/" target="_blank">
            <img class="h-20 min-w-[80px] aspect-square" src="images/health_ministry-logo.png" alt="sağlık bakanlığu logo" />
          </a>
          <div class="flex flex-col items-start justify-between ml-3">
            <a class="navbar-brand-ministry text-base font-bold" href="https://saglik.gov.tr/" target="_blank">
              <span>T.C. SAĞLIK BAKANLIĞI</span>
            </a>
            <div class="navbar-brand-healthcare text-base font-bold">
              <span>{TITLE.toLocaleUpperCase('tr')}</span>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#doctors">Kadromuz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">Galeri</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">İletişim</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <slot />
</main>
