<main class="hero_area">
  <div class="hero_bg_box">
    <img src="images/hero-bg.png" alt="Doctor Silhouette" />
  </div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container flex justify- items-center w-full">
        <div class="flex ml-1">
          <a href="https://saglik.gov.tr/" target="_blank">
            <img class="w-full h-20 min-w-full aspect-square" src="images/health_ministry-logo.png" alt="sağlık bakanlığu logo" />
          </a>
          <div class="flex flex-col items-center justify-center p-1">
            <a class="navbar-brand-ministry" href="https://saglik.gov.tr/" target="_blank"> <span>T.C. SAĞLIK BAKANLIĞI</span></a>
            <div class="navbar-brand-healthcare p-0 mr-0">
              <span> ULUCAK AİLE SAĞLIK MERKEZİ</span>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#doctors">Kadromuz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">Galeri</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">İletişim</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <slot />
</main>
