---
import '../styles/bootstrap.css';
import '../styles/font-awesome.min.css';
import '../styles/style.css';
import '../styles/responsive.css';
import { capitalizeEachWord } from '../lib/utils.js';
import { MAPS_LINK, TITLE } from '../lib/const.astro';

const isProd = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script async is:inline defer src={MAPS_LINK}></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    {
      isProd && (
        <script defer is:inline async src="https://umami.hamzatekin.dev/script.js" data-website-id="99271bcb-9ff5-49e9-99e8-84ee910a58b4" />
      )
    }
    <title>{capitalizeEachWord(TITLE)}</title>
  </head>

  <body class="bg-white leading-normal tracking-normal">
    <slot />
  </body>
</html>
